Linux*
Darwin*
*.serialized
.DS_Store
Casper/csrc/Casper.cpp
Casper/include/Casper.h
choco/csrc/choco.cpp
choco/include/choco.h
Db/csrc/Db.cpp
Db/include/Db.h
Dbo/include/Dbo.h
*.o
*.so
Mysql/csrc/Mysql-s.cpp
Mysql/csrc/Mysql.cpp
Mysql/include/Mysql.h
Dom/csrc/Dom.cpp
Dom/include/Dom.h
Dom3/csrc/Dom3.cpp
Dom3/include/Dom3.h
Gantt/csrc/Gantt.cpp
Gantt/include/Gantt.h
Gd/csrc/Gd.cpp
Gd/include/Gd.h
Http/csrc/Http.cpp
Http/include/Http.h
Iconv/csrc/Iconv.cpp
Iconv/include/clIconv.h
Jdf/csrc/Jdf.cpp
Jdf/include/Jdf.h
Json/csrc/Json.cpp
Json/include/Json.h
LibLocale/csrc/LibLocale.cpp
LibLocale/include/LibLocale.h
Mail/csrc/Mail.cpp
Mail/include/Mail.h
michoco/csrc/michoco.cpp
michoco/include/michoco.h
Openssl/csrc/Openssl-s.cpp
Openssl/csrc/Openssl.cpp
Openssl/include/Openssl.h
Pdf/csrc/Pdf.cpp
Pdf/include/Pdf.h
Sax/csrc/Sax.cpp
Sax/include/clSax.h
Soap/csrc/Soap.cpp
Soap/include/Soap.h
Sys/csrc/Sys-s.cpp
Sys/csrc/Sys.cpp
Sys/include/Sys.h
Sax/include/clSax.h
Sax/include/clSax.h
Wcl/cgi/mod_wcl.la
Wcl/cgi/mod_wcl.lo
Wcl/cgi/mod_wcl.slo
Wcl/csrc/Wcl-s.cpp
Wcl/csrc/Wcl.cpp
Wcl/include/Wcl.h
WclSite/csrc/WclSite.cpp
WclSite/include/WclSite.h
WebLocale/csrc/WebLocale.cpp
WebLocale/include/WebLocale.h
Xmlo/csrc/Xmlo.cpp
Xmlo/include/Xmlo.h
Xmlrpc/csrc/Xmlrpc.cpp
Xmlrpc/include/Xmlrpc.h
Zlib/csrc/Zlib.cpp
Zlib/include/clZlib.h
Zlib/include/clZlib.h
Expat/csrc/Expat.cpp
Expat/include/clExpat.h
Md5/include/Md5.h
Md5/csrc/Md5.cpp
Regex/include/clRegex.h
Regex/csrc/Regex.cpp
Postal/csrc/Postal.cpp
Postal/include/Postal.h
Postgresql/csrc/Postgresql.cpp
Postgresql/include/Postgresql.h
Zlib/include/clZlib.h
*/Linux-x86_64-g++7/*
WclSite/csrc/*
/Wcl/cgi/.libs
/Pdf/csrc
/Dbo/csrc
/Harbor/csrc
/Redis/csrc
/Harbor/include
/Zlib/include
